<section class="mt-2">
  <div class="container mx-auto">
    <div class="max-w-4xl w-full lg:flex mx-auto my-auto shadow-lg mb-4">
      <div class="border border-grey-light lg:border lg:border lg:border-grey-light bg-white rounded-b lg:rounded-r p-5 flex flex-col justify-between leading-normal min-w-full">
        <div class="mb-10">
          <div class="text-black font-bold text-xl mb-2 text-3xl text-grey-500 font-semibold text-center">Welcome back, <%= @brand.name %></div>
          <p class="text-grey-darker text-base text-center"><%= @brand.description %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">

  <div class="container mx-auto my-auto">
    <div class="text-center">

        <%= link_to "Create a new event", nil , class: 'shadow bg-indigo-400 hover:bg-indigo-500 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-8 rounded shadow-lg hover:text-white modal-open', id: "new-event-button" %>

        <%= link_to "Browse Events", nil , class: 'shadow bg-gray-400 hover:bg-gray-500 focus:shadow-outline focus:outline-none text-grey-darker font-bold py-4 px-8 rounded shadow-lg', id: "browse-events-button", data: { id: "#{@brand.id}"} %>
    </div>
  </div>
</section>

<section class="section" id="content">
  <div class="container mx-auto">
    <div class="max-w-6xl w-full lg-flex mx-auto shadow">
      <div class="border border-grey-light lg:border lg:border lg:border-grey-light bg-white rounded-b lg:rounded-r p-5 flex flex-col justify-between leading-normal min-w-full">

        <div class="px-2">
          <div class="flex flex-wrap" id="eventList">
            <!-- Events will appear via AJAX -->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<!-- modal -->

<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
      
      <div class="modal-content py-4 text-left px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold">Create a new event</p>
        </div>

        <!--Body-->
        <%= render partial: 'shared/events/new_event_form' %>

        <!--Footer-->
        <div class="flex justify-end">
          <button class="modal-cancel px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2">Cancel</button>
          <button class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Close</button>
        </div>

      </div>
    </div>
  </div>

  <style>
     .modal {
       transition: opacity 0.25s ease;
     }
     body.modal-active {
       overflow-x: hidden;
       overflow-y: visible !important;
     }
   </style>
