<section class="mt-2">
  <div class="container mx-auto">
    <div class="max-w-4xl w-full lg:flex mx-auto my-auto shadow-lg mb-4">
      <div class="border border-grey-light lg:border lg:border lg:border-grey-light bg-white rounded-b lg:rounded-r p-5 flex flex-col justify-between leading-normal min-w-full">
        <div class="mb-10">
          <div class="text-black font-bold text-xl mb-2 text-3xl text-grey-500 font-semibold text-center">Welcome back, <%= @brand.name %></div>
          <p class="text-grey-darker text-base text-center"><%= @brand.description %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container mx-auto my-auto">
    <div class="text-center" id="form-cta-group">

        <%= render partial: 'shared/pages/dashboard_new_event_modal' %>

        <%= link_to "Create a new event", nil , class: 'shadow bg-indigo-400 hover:bg-indigo-500 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-8 rounded shadow-lg hover:text-white modal-open', id: "new-event-button" %>

        <%= link_to "Browse Events", nil , class: 'shadow bg-gray-400 hover:bg-gray-500 focus:shadow-outline focus:outline-none text-grey-darker font-bold py-4 px-8 rounded shadow-lg', id: "browse-events-button", data: { id: "#{@brand.id}"} %>

        <%= link_to "Sort Events", nil, class: 'shadow bg-gray-400 hover:bg-gray-500 focus:shadow-outline focus:outline-none text-grey-darker font-bold py-4 px-8 rounded shadow-lg', id: "sort-events-button" %>
    </div>
  </div>
</section>

<section class="section" id="content">
  <div class="container mx-auto">
    <div class="max-w-6xl w-full lg-flex mx-auto shadow">
      <div class="border border-grey-light lg:border lg:border lg:border-grey-light bg-white rounded-b lg:rounded-r p-5 flex flex-col justify-between leading-normal min-w-full">

        <div class="px-2">
          <div class="flex flex-wrap" id="eventList">
            <!-- Events will appear via AJAX -->
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
