<!DOCTYPE html>
<html>
  <head>
    <title>Ticketkey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body class="bg-gray-200 min-h-screen">
    <div class="text-center pt-4">
      <div class="">
        <a id="brand" href="#" class="tracking-wider antialiased font-extrabold text-indigo-600 italic">ticketkey</a>
      </div>
        <% if logged_in? %><%= link_to "logout", logout_path, class: 'bg-transparent focus:outline-none text-grey-darker hover:text-black font-hair text-xs py-2 px-4 rounded' %><% end %>
    </div>

    <%= yield %>
  </body>
</html>
